<div class="container mt-5">

    <div class="text-center mb-4">

        <h1 class="display-4 fw-bold text-white">
            🌤 Application Météo
        </h1>

        <p class="text-white">
            Consultez la météo en temps réel
        </p>

        <button
            class="btn btn-success mt-3"
            (click)="obtenirMaPosition()">

            <i class="bi bi-geo-alt-fill"></i>

            Ma position

        </button>

    </div>

    <app-search
        (searchCity)="rechercherVille($event)">
    </app-search>

    <div
    class="card mt-4 shadow-sm"
    *ngIf="historique.length">

    <div class="card-body">

            <h5>

                🕒 Dernières recherches

            </h5>

            <button

                *ngFor="let ville of historique"

                class="btn btn-outline-primary btn-sm m-1"

                (click)="rechercherDepuisHistorique(ville)">

                {{ ville }}

            </button>

        </div>

    </div>

    <div
        class="text-center mt-4"
        *ngIf="loading">

        <div
            class="spinner-border text-light"
            style="width:4rem;height:4rem"
            role="status">
        </div>

        <p class="text-white mt-3">
            Chargement...
        </p>

    </div>

    <div
        *ngIf="errorMessage"
        class="alert alert-danger mt-4">

        {{ errorMessage }}

    </div>

    <app-weather-card

        *ngIf="weather && !loading"

        [weather]="weather">

    </app-weather-card>

</div>