<div class="card shadow p-4 mb-4">

    <h3 class="mb-3">
        Rechercher une ville
    </h3>

    <div class="input-group">

        <input
            class="form-control"
            type="text"
            placeholder="Ex : Dakar"
            [(ngModel)]="ville"
            (keyup.enter)="rechercher()">

        <button
            class="btn btn-primary"
            (click)="rechercher()">

            <i class="bi bi-search"></i>

            Rechercher

        </button>

    </div>

</div>